@import url('https://fonts.googleapis.com/css?family=Righteous|Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background:rgb(204, 185, 167);
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
    padding-left: 5px;
}
.nav-link{
    margin-right: 1.5rem!important ;
}
.nav-link:hover {
    color: #ca9969;
}
.navbar-brand:hover{
    background: #f1eeee;
    color: #1b1917;
    padding: 5px 4px;
    border-radius: 3px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    margin-right: 10px;
    background:#fff ;
}

.animated-icon {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
        }
    
    .animated-icon span {
    background: #1b1917;
    }
    
    .animated-icon span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon span:nth-child(2) {
    width: 10px;
    top: 8px;
    /* text-align: center; */
    margin: 0px 5px;
    }
    
    .animated-icon span:nth-child(3) {
    top: 16px;
    }
    
    .animated-icon.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon.open span:nth-child(2) {
    opacity: 0;
    left: -90px;
    }
    
    .animated-icon.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }


.header{
    background-image: url('./images/back1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bg-primary{
    background-color:#343a40!important;
}

   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
    opacity: 0.5;
   }

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    color: rgb(255, 255, 255);
    
}
.description h3 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 4px black, 0 0 1em rgb(187, 89, 89);
   }
.description p{
    color: #666666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
  }
.description button {
    border: 1px solid rgb(180, 167, 156);
    background: rgb(180, 167, 156);
    color: #fff;
}

.about{
    padding-top: 55px;
    margin-top: -55px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }

   .portfolio{
    padding-top: 55px;
    margin-top: -55px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    position: relative; 
   }
   .portfolio h1{
    color:#F97300;
       }
   .portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
   }

   /* Типо блог */
   .blog{
    margin: 4em 0;
    position: relative; 
   }
   .blog h1{
    color:#F97300;
    margin: 2em; 
   }
   .blog .card{
    box-shadow: 0 0 20px #ccc;
   }
   .blog .card img{
    width: 100%;
    height: 12em;
   }
   .blog .card-title{
    color:#F97300;
     
   }
   .blog .card-body{
    padding: 1em;
   }

   /* раздел команда */
   .team{
    margin: 4em 0;
    position: relative;  
   }
   .team h1{
    color:#F97300;
    margin: 2em; 
   }
   .team .item{
    position: relative;
   }
   .team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
   }
   .team .item:hover .des{
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }

   /* Форма обратной связи */
   contact-form{
    margin: 6em 0;
    position: relative;  
   }
   .contact-form h1{
    padding:2em 1px;
    color: #F97300; 
   }
   .contact-form .right{
    max-width: 600px;
   }
   .contact-form .right .btn-secondary{
    background:  #F97300;
    color: #fff;
    border:0;
   }
   .contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
   }

   #topArrow {
	position: fixed;
	right: 50px;
    bottom: 60px;
    opacity: 0.3;
    width: 30px;
    height: 30px;
   }
   #topArrow:hover {
    opacity: 1;
   }

   .page-footer {
    background: #f1eeee;
    color: #1b1917;
    margin: auto;
       }

   .num{
    font-family: 'Righteous', cursive;
    font-size: 2.0rem;
    color: rgb(247, 233, 233);
}

   .social-icons {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: flex-end;      
}
.social-icons a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 50%;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    color: #337AB7;
    border: 0px;
    transition: border-radius 0.2s linear 0s;
    margin: 20px 30px 30px 20px;
}
.social-icons a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: rgb(205, 213, 219);
}
.social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s linear 0s;
    position: relative;
    z-index: 1;  
}
.social-icons a:hover {
    border-radius: 10%;
    width: 40px;
    height: 40px;
    color: #FFF;
    }
.social-icons a:hover:after {
    top: 0;
    transition: all 0.2s linear 0s;
}

/* Портфолио */
img {
    width: 100%; !important;
    }
    
    .sim-slider {
    max-width: 1000px;
    min-width: auto;
    /* margin: auto;
    padding: auto; */
    /* border: 1px solid #ccd; */
    background-color: white;
    }
    
    .sim-slider {
    position: relative;
    }
    
    .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    }
    
    .sim-slider-element {
    width: 100%;
    transition: opacity 1.3s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
        }
    .portfolio {
        display: none;
    }

    .down {
        margin: 100px;
    }

    /* Портфолио квадрат */
    @media (max-width: 850px) {
        .container {
            background-color: bisque;
            display: flex;
            flex-direction: column;
            /* flex-flow: column wrap; */
        }
        .no {
            display: none;
        }
        .port {
        /* width: auto; */
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        flex-flow: column wrap;
        justify-content: start;
        }
        .sim-slider {
            max-width: 1000px;
            min-width: auto;
            /* margin: auto;
            padding: auto; */
            /* border: 1px solid #ccd; */
            background-color: white;
            }
                .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    }
        .sim-slider-element {
            position: absolute;
            /* display: flex; */
            /* display: none; */
            /* position: relative; */
            /* height: 708px; */
        }
        /* .sim-slider-element {
            display: block;
            position: static;
        } */
        .portfolio {
            display: block;
        }
    }
    .container {
        display: flex;
    }

    .port {
        width: auto;
        /* height: 300px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-around;
    }
    .shrink {
        background-color:rgb(255, 255, 255);
        font-size: 0.9rem;
        height: 5rem;
        /* width: 5rem; */
        /* border: 1px solid rgb(19, 19, 20); */
        /* border-radius: 2px; */
        align-content: center;
        /* flex-shrink: 0; */
        /* height: 70px;
        width: 70px; */
        /* z-index: 8; */
    }
    .shrink a {
        color: black;
    }

    .icon-port {
        width: 3rem;
        
    }

    /* использовался раньше для разметки боксов  */
    /* .box-in-port {
        height: 5rem;
        width: 5rem;
        border: 1px solid;
        /* padding: 3px; */
        /* margin: 3px; */
            } */